@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat&family=Spectral:ital,wght@0,300;0,400;1,300;1,400&display=swap');
$image-url:"./src/assets/IMG.png";
/* Déclaration des variables */
$colorWriting :#FF6060;

/*Déclaration des mixins*/
*{
    font-family: Montserrat;
}
@mixin flex_maker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin font_footer {
    font-family: Montserrat;
    font-weight: 500;
    font: size 24px; 
    color: white;
}
@mixin espacement_logo {
    margin-right: 5px;
}
@mixin card_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    padding: 3% 5%;
}
@mixin card {
    height: 300px;
    background: linear-gradient(180deg, rgba(255,96,96,0.5) 0%, rgba(255,96,96,1) 100%);
    border-radius: 10px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 5%;
    padding-left:  5%;
}

/* Début du code sass */

body{
    padding: 3% 5%;
}

/* Composant Banner*/

.component_banner{
color: $colorWriting;
@include flex_maker();
    img{
        @include espacement_logo();
    }
}
.nav_bar{
    color: #FF6060;
    width: auto;
    @include flex_maker();
    p{
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    p.p_1{
        margin-right: 50px;
    }
}

/* Composant footer */

.component_footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 200px;
    padding-top: 30px;
    p{
        @include font_footer()
    }
    img{
        @include espacement_logo();
    }
}

/* page d'accueil ps : le background image et son url sont gérés directement par le css*/

.home_title{
    mix-blend-mode: darken;
    border-radius: 25px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 48px;
    
}

.home_card{
    @include card_menu();
    
}
.card_logement{
    @include card();
}
.background_card{
    background-color: #f7f7f7;
    border-radius: 25px;
}