@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat&family=Spectral:ital,wght@0,300;0,400;1,300;1,400&display=swap');
$image-url:"./src/assets/IMG.png";
/* Déclaration des variables */
$colorWriting :#FF6060;

/*Déclaration des mixins*/
*{
    font-family: Montserrat;
}
@mixin flex_maker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin font_footer {
    font-family: Montserrat;
    font-weight: 500;
    font: size 24px; 
    color: white;
}
@mixin espacement_logo {
    margin-right: 5px;
}
@mixin card_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    padding: 3% 5%;

    @media (max-width:768px)
    {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0%;
        margin: 0%;
        row-gap: 30px;
    }
}
@mixin card {
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 15%;
    @media (max-width:768px)
    {
      margin: 0%;
      padding: 0%;
    }
   
    .image_background_card{
        object-fit: cover;
        max-width: 100%;
        height: 100%;   
        border-radius: 10px;
    }
    p{
        position: absolute;
        color:whitesmoke;
        font-weight: 700;
        padding-left: 1%;
        max-width: 150px; 
    }
    
}


/* Début du code sass */

#root{
    padding: 3% 5%;
}

/* Composant Banner*/

.component_banner{
color: $colorWriting;
@include flex_maker();
    img{
        @include espacement_logo();
    }
    
}
.nav_bar{
    color: #FF6060;
    width: auto;

    @include flex_maker();
    p{
        font-size: 24px;
        font-weight: 700;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        @media (max-width:520px)
        {
            font-size: 15px;
        }
    }
    p.p_1{
        margin-right: 50px;
        
    }
    @media (max-width:510px)
    {
       display: block;
       margin: 0px;
    }
}

/* Composant footer */

.component_footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 200px;
    padding-top: 30px;
    p{
        @include font_footer()
    }
    img{
        @include espacement_logo();
    }
}

/* page d'accueil ps : le background image et son url sont gérés directement par le css*/

.home_title{
    
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 48px;

    @media (max-width:768px)
    {
        padding-left: 5%;
    }
}

.home_card{
    @include card_menu();
    
}
.card_logement{
    @include card();
}
.background_card{
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-bottom: 30px;
    @media (max-width:768px)
    {
       background-color: white;
       padding: 0%;
       margin: 0%;
    }
}