$colorWriting :#FF6060;
@mixin flex_maker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


body{
    padding: 3% 5%;
}


.component_banner{
color: $colorWriting;
@include flex_maker();
    img{
        margin-right: 5px;
    }
}

.nav_bar{
    color: #FF6060;
    width: auto;
    @include flex_maker();
    p{
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    p.p_1{
        margin-right: 50px;
    }
}