.home_title{
    background-image: url('../../assets/IMG.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*filter: brightness(85%);*/
}



